body {
        background-image: url("bg.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
}
#block {
		width: 300px;
  		height: 650px;
  		border: 10px solid black;
  		align-items: center;
  		padding: 20px;
		margin:auto;
        background:#FFF2CC;
}